<!-- Fixed top Bar -->

<app-header></app-header>

<!-- End Fixed top Bar -->

<!-- Navbar Menu -->

<app-menu></app-menu>

<!-- End Navbar Menu-->

<!-- SideBar & Main Content -->
<div>
  <!-- Vertical navbar -->
  <div
    id="sidebar"
    class="vertical-nav"
    [ngClass]="isCollapse ? 'active' : 'disabled'"
    style="display:none;"
  >
    <!-- Sidebar options for an "Administrator" -->
    <div *ngIf="isAdministrator()">
      <!-- Dashboard -->
      <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
        Main
      </p>
      <ul class="nav flex-column mb-0">
        <li class="nav-item">
          <a
            routerLink="/"
            (click)="hideMenuIfNecesary()"
            class="nav-link text-dark font-italic bg-light"
          >
            <i class="fa fa-tachometer mr-3 vertical-icon-color fa-fw"></i>
            Dashboard
          </a>
        </li>
        <br />
      </ul>
    </div>

    <!-- End vertical navbar -->
  </div>

  <!-- Main content -->
  <div
    id="content"
    class="row p-5 background-content">
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
  <!-- End Main content -->
</div>
<!-- End Main Content -->